body {
  font-family: sans-serif;
  margin: 0px;
}

.container {
  padding: 0px 0px 70px;
}

.main {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}

.main a{
  color: black;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  margin-top: 60px;
  margin-left: 60px;
  margin-right: 60px;
  padding: 20px;
  background-color: cornflowerblue;
}

.main a:hover{
  color: white;
  background-color: deepskyblue;
  cursor: pointer;
}

.maingraph{
  padding: 0px 50px;
}


.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: dodgerblue;
  margin: 0px;
  padding: 0px 50px;
}

.navigation a {
  text-decoration: none;
  font-weight: bold;
}